.App {
    width: 100vw;
    height: auto;
    overflow: auto;
}

.one {
    background: url("../public/pre.png") no-repeat center center/cover;
    width: 100vw;
    min-height: 100vh;
    overflow: auto;
}

.two {
    min-width: 100vw;
    min-height: 100vh;
    background: url("../public/pre1.png") no-repeat center center/cover;
    overflow: auto;
}